.home-hero {
    position: relative;
    min-height: calc(100vh - var(--nav-height));
    padding-block:var(--fnd-spacing-10) 240px;overflow: hidden
}

.home-hero-wrapper {
    background: var(--fnd-color-background-base);
    color: var(--fnd-color-text-high);
    display: block
}

.home-hero-bottom {
    position: relative;
    top: 5px;
    height: 1px
}

.home-hero>div:not(.fragment-wrapper)>div {
    display: flex;
    flex-direction: column
}

.home-hero>div:not(.fragment-wrapper)>div h1,.home-hero>div:not(.fragment-wrapper)>div>p:not(.world) {
    z-index: 1
}

.show.home-hero>div:not(.fragment-wrapper)>div>p:not(.world) {
    visibility: visible
}

.home-hero h1 {
    font-size: var(--fnd-typography-heading-xl-font-size);
    line-height: var(--fnd-typography-heading-xl-line-height);
    letter-spacing: var(--fnd-typography-heading-xl-letter-spacing);
    --char-height: calc(var(--fnd-typography-heading-xl-line-height) * 2.25);
    color: var(--fnd-color-text-low);
    margin: 0
}

@media(min-width: 768px) {
    .home-hero h1 {
        margin-inline-end:calc(var(--square-value-small) + var(--fnd-spacing-08))
    }
}

@media(min-width: 1200px) {
    .home-hero h1 {
        margin-inline-end:calc(var(--square-value-big) + var(--fnd-spacing-11));
        margin-block-end:-4px}
}

@media(min-width: 1200px) {
    .home-hero h1 .word-wrap {
        line-height:5.25rem
    }
}

.home-hero h1 .char,.home-hero h1 .header-wrapper {
    position: relative;
    top: -.313rem
}

@media(min-width: 1200px) {
    .home-hero h1 .char,.home-hero h1 .header-wrapper {
        top:-.35rem
    }
}

.home-hero--visited.home-hero h1 .char,.home-hero h1 .header-wrapper {
    top: -.4rem
}

.home-hero h1 .highlights {
    grid-area: highlight;
    margin-top: var(--fnd-spacing-02)
}

.home-hero h1 .highlights .char {
    transform: translateY(var(--char-height))
}

.home-hero h1 .highlights .char-wrapper {
    white-space: nowrap
}

.home-hero h1 .highlights-wrapper {
    display: grid;
    grid-template-areas: "highlight"
}

.home-hero h1 .highlights-out .char {
    --char-height: calc(-1 * var(--fnd-typography-heading-xl-line-height) * 2);
    transform: translateY(var(--char-height))
}

.home-hero h1 .highlights-active.highlights-in .char {
    transform: translateY(0)
}

.home-hero h1 .highlights-reset {
    display: none
}

.home-hero h1+p:not(.world) {
    margin-block-start:var(--fnd-spacing-08)}

.home-hero .white-square {
    display: inline-block
}

@media(min-width: 1200px) {
    .home-hero .white-square {
        width:calc(5 * (100% - var(--grid-gap) * (var(--columns) - 1)) / var(--columns) + 4 * var(--grid-gap))
    }
}

.home-hero .white-square:before {
    visibility: hidden
}

@media(min-width: 1200px) {
    .home-hero .white-square:before {
        margin-bottom:3px
    }
}

.show.home-hero .white-square:before {
    visibility: visible
}

.home-hero a {
    display: inline-flex;
    align-items: center
}

.home-hero a>span {
    display: inline-flex
}

.home-hero a:before {
    visibility: hidden
}

.show.home-hero a:before {
    visibility: visible
}

.home-hero p:not(.world) {
    position: relative;
    z-index: 1
}

.home-hero p:not(.world,.skip-button) {
    --char-height: calc(var(--fnd-typography-paragraph-xl-font-size) * 1.5)
}

.home-hero .char {
    transition: transform var(--fnd-motion-duration-300) ease;
    transform: translateY(var(--char-height));
    display: inline-block
}

.show.home-hero .char {
    transform: translateY(0)
}

.home-hero .char-space {
    visibility: hidden
}

.home-hero .word-wrap {
    overflow: hidden;
    display: inline-block
}

.home-hero .button-container,.home-hero .skip-button {
    margin-block-start:var(--fnd-spacing-08);display: block
}

@media(min-width: 768px) {
    .home-hero p.skip-button {
        position:absolute;
        left: var(--fnd-spacing-09);
        bottom: var(--fnd-spacing-10)
    }
}

@media(min-width: 1920px) {
    .home-hero p.skip-button {
        left:0
    }
}

.home-hero p.skip-button.animate {
    animation: skip-button var(--fnd-motion-duration-1500) ease
}

.home-hero .fragment-wrapper {
    visibility: hidden;
    position: absolute;
    bottom: var(--fnd-spacing-06);
    right: var(--fnd-spacing-06)
}

.home-hero .fragment-wrapper:has(.show) {
    visibility: visible
}

@media(min-width: 1200px) {
    .home-hero .fragment-wrapper {
        bottom:var(--fnd-spacing-10)
    }
}

.home-hero em {
    color: var(--fnd-color-text-high);
    display: inline;
    overflow: hidden;
    font-style: normal
}

.home-hero .header-wrapper+em {
    margin-block-start:var(--fnd-spacing-02)}

@media(min-width: 1200px) {
    .home-hero .header-wrapper+em {
        margin-block-start:var(--fnd-spacing-04);
        padding-bottom: 4px
    }
}

.home-hero .world {
    transition: transform var(--fnd-motion-duration-1500) var(--fnd-motion-ease-focused),opacity var(--fnd-motion-duration-1500) var(--fnd-motion-ease-focused),width var(--fnd-motion-duration-1500) var(--fnd-motion-ease-focused);
    align-self: center;
    width: 25%;
    opacity: 0;
    position: absolute;
    top: 100vh
}

.animate.home-hero .world {
    --animation-transform: calc(-100vh + 386px) ;
    transform: translateY(var(--animation-transform)) scale(var(--animation-scale, 1));
    width: 100%;
    opacity: 1
}

@media(min-width: 1200px) {
    .animate.home-hero .world {
        --animation-transform: calc(-100vh + 380px)
    }
}

.animate.has-paragraph.home-hero .world {
    --animation-transform: calc(-100vh + 434px)
}

@media(min-width: 1200px) {
    .animate.has-paragraph.home-hero .world {
        --animation-transform: calc(-100vh + 440px)
    }
}

.show.home-hero .world {
    transition-duration: 10ms
}

.home-hero .world img {
    width: 100%
}

.home-hero .icon-button,.home-hero .icon-only {
    padding: 0;
    background: transparent;
    height: 26px;
    width: 26px;
    transition: opacity var(--fnd-motion-duration-300) ease;
    opacity: 0
}

.show.home-hero .icon-button,.home-hero .icon-only {
    opacity: 1
}

@keyframes skip-button {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(100%)
    }

    to {
        transform: translateY(0)
    }
}
